body, div { margin: 0; padding: 0; }
a { text-decoration: none; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21170b;
}

main {
    background-color: #58503d;
    width: 70vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: "top" "down";
}
main section#top {
    grid-area: top;

    display: flex;
    justify-content: center;
    align-items: center;
}
main section#top > a {
    margin: 60px;
}
main section#top a > img{
    width: 200px;
    height: 138px;
}
main section#down {
    grid-area: down;

    color: #fff;

    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
main section#down div#linha {
    background-color: #000;
    height: 2px;
    width: 85%;
}
    @media only screen and (max-width: 910px) {
        main section#top {
            flex-wrap: wrap;
            align-content: center;
        }
        main section#top > a { margin: 0 5px; }
        main > section {
            margin-top: 20px;
        }
    }
main section#down > p {
    text-align: justify;
    text-indent: 1.5em;
    width: 90%;
}

/* E N V I A R */
main#envRec {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
main#envRec section#env {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
main#envRec section#env div#pergaminho {
    background-image: url(../img/escrever.png);
}
main#envRec section#env a {
    margin: 10px 0 0 55px;
}
main#envRec section#env a img{
    width: 80px;
}
main#envRec section div#pergaminho {
    background-repeat: no-repeat;
    background-size: contain;

    width: 500px;
    height: 500px;

    justify-content: center;
    align-items: center;
    display: flex;
}
main#envRec section div#pergaminho textarea{
    font-family: 'Indie Flower', cursive;
    text-align: justify;
    background: none;
    font-size: 16pt;
    border: none;

    height: 390px;
    resize: none;
    width: 324px;

    margin-left: 40px;

    /*Retira a borda brilhante do textarea*/
    outline: none;
}

/* Ultilizo em enviar e em receber*/
main#envRec section div#fundCod {
    grid-template-columns: 27% 23% 23% 27%;
    grid-template-areas: 'p1 p2 p3 p4';
    grid-template-rows: 100%;
    display: grid;

    width: 100px;
    height: 40px;

    background-image: url(../img/fundoCod.png);
    background-repeat: no-repeat;
    background-size: contain;
}
main#envRec section div#fundCod > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    font-family: 'Indie Flower', cursive;
    font-size: 17pt;
}

main a#voltar img {
    margin-bottom: 10px;
    width: 50px;
}

/* R E C E B E R */
/*
main#envRec section#rec div#pergaminho {
    background-image: url(../img/escrever2.png);
}*/
main.rec {
    position: relative;
}
main#envRec img#ravenToRight {
    position: absolute;
    left: 1%;
    width: 70px;
}
main#envRec section#rec {
    justify-content: space-around;
    align-items: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 50%;
    top: 50%;
}
main#envRec section#rec div#fundCod input {
    background: none;
    outline: none;
    border: none;

    justify-content: space-around;
    align-items: center;
    display: flex;

    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 17pt;
    color: #000;

}
main#envRec section#rec div#fundCod input#i1 {
    grid-area: p1;
}
main#envRec section#rec div#fundCod input#i2 {
    grid-area: p2;
}
main#envRec section#rec div#fundCod input#i3 {
    grid-area: p3;
}
main#envRec section#rec div#fundCod input#i4 {
    grid-area: p4;
}
