body, div { margin: 0; padding: 0; }
a { text-decoration: none; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21170b;
}

main {
    background-color: #58503d;
    width: 70vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: "top" "down";
}
main section#top {
    grid-area: top;

    display: flex;
    justify-content: center;
    align-items: center;
}
main section#top > a {
    margin: 60px;
}
main section#top a > img{
    width: 200px;
    height: 138px;
}
main section#down {
    grid-area: down;

    color: #fff;

    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
main section#down div#linha {
    background-color: #000;
    height: 2px;
    width: 85%;
}
    @media only screen and (max-width: 910px) {
        main section#top {
            flex-wrap: wrap;
            align-content: center;
        }
        main section#top > a { margin: 0 5px; }
        main > section {
            margin-top: 20px;
        }
    }

/* E N V I A R */
main#env {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
main#env section div#pergaminho {
    background-image: url(../img/escrever.png);
    background-repeat: no-repeat;
    background-size: contain;

    width: 500px;
    height: 500px;

    justify-content: center;
    align-items: center;
    display: flex;
}
main#env section div#pergaminho textarea{
    background: none;
    border: none;

    height: 390px;
    resize: none;
    width: 324px;

    margin-left: 40px;

    /*Retira a borda brilhante do textarea*/
    outline: none;
}

main a#voltar img {
    margin-bottom: 10px;
    width: 50px;
}