body, div { margin: 0; padding: 0; }
a { text-decoration: none; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21170b;
}

main {
    background-color: #58503d;
    width: 70vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: "top" "down";
}
main section#top {
    grid-area: top;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 5px solid #21170b;
}
main section#top > a {
    margin: 60px;
}
main section#down {
    grid-area: down;
}